{{page-title @model.name " details | Rock & Roll with Octane" replace=true}}
<h2 class="mb-4 text-lg">{{@model.name}}</h2>
<p>{{@model.description}}</p>

{{! If we load up the application on /bands/pearl-jam, everything works as expected 
and the app is transitioned to the bands.band.details route
(while the URL changes to /bands/pearl-jam/ details) since Pearl Jam has a description }}